.hero {
    width: 100%;
    display: flex;
    padding: 50px;
    background: radial-gradient(110.76% 436.38% at -8.47% -10.89%, #000000 0%, #BD0005 100%);
}
.hero .corona19,
.hero .mainContent {
    width: 50%;
    height: 50%;
}

.hero .corona19 img {
    transform: rotateY(180deg);
}


.hero .mainContent {
    direction: rtl;
    color: white;
    padding-top: 104px;
}
.hero .mainContent h1 {
    margin-bottom: 2.5rem;
}
.hero .mainContent h4 {
    font-weight: normal;
}
.hero .mainContent button {
    margin-top: 1.875rem;
}

@media only screen and (max-width: 950px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .hero .mainContent {
        text-align: center;
        padding-top: 50px;
        width: 80%;
        order: 1;
    }
    .hero .corona19 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        order: 2;
    }
}
@media only screen and (max-width: 650px) {
    .hero .corona19 {
        display: none;
    }
}