.mainVaccienConatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
    margin-top: 25%;
}
.discription {
    width: 100%;
    text-align: start;
    margin-top: 20px;
    color: white;
}

@media only screen and (max-width: 950px) {
    .mainVaccienConatiner {
        margin-top: 28%;
    }
}

.mainVaccienConatiner button {
    margin-top: 10px;
    font-weight: normal;
    padding: 10px 30px;
}
.mainVaccienConatiner .center {
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: var(--mainlight-color);
}
.mainVaccienConatiner .center:hover,
.mainVaccienConatiner .center:focus {
    background-color: #8a0105;
}

.mainVaccien {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
@media only screen and (max-width: 620px) {
    .mainVaccien {
        justify-content: center;
    }
}


.cardVaccienContainer {
    text-align: center;
    margin-top: 70px;

}
.cardVaccienContainer h3 {
    margin: 0 auto 15px auto;
    width: 20rem;
}
.cardVaccienContainer .bg-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.651);
}
.cardVaccienContainer .cardVaccien {
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
}
.cardVaccienContainer .cardVaccien img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.positionUp {
    position: relative;
    z-index: 5;
}
.cardVaccienContainer .cardVaccien .tableHead {
    width: 16rem;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
    color: white;
}
.cardVaccienContainer .cardVaccien table {
    width: 100%;
    text-align: center;
}
.cardVaccienContainer .cardVaccien table td {
    width: 50%;
    padding: 15px;
    color: white;
}
.cardVaccienContainer .cardVaccien table h5 {
    font-weight: normal;
}

.cardVaccienContainer .vaccienActive h5 {
    color: #0DFF51;
}
